* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @font-face {
    font-family: 'Raleway';
    src: url("./assets/Raleway-VariableFont_wght.ttf") format('woff');
  }
  font-family: "Raleway", sans-serif;
}

body {
  width: 100%;
  overflow-x: hidden;
  background: #f0f8ff;
}

ul {
  list-style-type: none;
}
